<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
</head>
<body>

<h2>Welcome to Django </h2>
<p> <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aspernatur assumenda cupiditate dolor doloremque ducimus eos, ex in iste iure magni mollitia nihil numquam obcaecati perferendis repellat sint temporibus ullam.</span><span>Accusamus, ad adipisci consectetur dolores eaque hic inventore iste labore magnam molestiae officiis porro quaerat quam reprehenderit tenetur unde voluptate voluptatem voluptates? At, dolorem, earum. Ad ea laboriosam pariatur provident.</span><span>A deserunt dolore eius eos harum impedit ipsa, iusto magni maiores, molestiae mollitia nihil numquam quaerat quas qui quos ratione rem tempora voluptate voluptatum.
    Ducimus ex magnam optio! Repellendus, saepe.</span></p>


</body>
</html>